# Ignore specific file types
*.out
*.dat

# Ignore files beginning with "DOS"
DOS*
AEC*
CHG*

# Ignore specific files
IBZKPT
LOCPOT
PCDAT
RHOB
XDATCAR
OUTCAR
EIGENVAL
OSZICAR
PHI
PHISOLV
REPORT
S
vasprun.xml
VASP.sh
WAVECAR
VSOLV
RHOION
PCDAT
REPORT

# Ignore specific folders
solvation_single_point/
archives/
dos_analysis/
vib_analysis/
chg_analysis/
elec_field_analysis/
